@import '../../../shared/styles/index.scss';

.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-right: 2px solid $color-primary;
  padding: 20px;
  padding-top: 55px;
  background-color: white;

  &__nav {
    &-item {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;

      &--active {
        background-color: $color-background;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      gap: 20px;
    }
  }
}
