p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
}
